"behavior-dropdown-select2":[

{% for item in breadcrumb if item['type'] != 'country' %}
    {
    "fetch_from": "{{ item['ajax_dropdown_url'] }}",
    "formatSearchingText": "{{ item['search_text'] }}",
    "placeholder_input": "{{ item['placeholder'] }}",
    "formatNoMatches": "Nenhum resultado para \"%s\".",
    "extra_dropdown_classes": " select2-breadcrumb-box",
    "idElement": "{{ item['element_id'] }}"

    {% if item['type'] == 'school' %}
        ,"message_bottom": 'Listando escolas p\u00fablicas participantes da Prova Brasil<br/><a href="javascript:void(0)" class="select2-redirect" data-url="{{ item['message_bottom_url'] }}">Veja a lista completa de escolas (incluindo particulares) na busca guiada</a>'
    {% endif %}
    },
{% endfor %}

]
