{% set breadcrumb = header.getBreadcrumb() %}
{% set menu = header.getMenu() %}
{% set filter = content.getFilter() %}
{% set censusData = content.getCensusData() %}

{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block description %}{% endblock %}
{% block og_title %}{% endblock %}
{% block og_description %}{% endblock %}

{% block body %}
  {% include 'census/subnav.html.twig' %}
  <section class="container censo-section normal-section">
    <div class="row">
      <div class="span12">
        <h2>Matrículas e Infraestrutura</h2>
      </div>

      {% if school.getOperatingConditionsId() is constant('AppBundle\\Entity\\Census\\OperatingConditions::ACTIVE') %}

        {% include 'census/filter.html.twig' %}

        {% if censusData is not null %}
          {% include 'census/content.html.twig' %}
        {% endif %}

      {% else %}

        {% include 'census/school_not_active.html.twig' %}

      {% endif %}

    </div>
  </section>

  <div class="container">
    <p class="informative-text">
      Os dados de infraestrutura e matrículas apresentados nessa página representam a realidade informada pela
      rede de ensino e suas escolas no Censo Escolar até a última quarta-feira do mês de maio.
      Os dados são públicos e oficializados pelo Ministério da Educação.
    </p>
    <p class="informative-text">
      Fonte: Censo Escolar/INEP {{ filter.getCurrentYear() }}.
    </p>
    <p class="informative-text">
      Notas técnicas:
      <a href="http://academia.qedu.org.br/censo-escolar/notas-tecnicas/">
        http://academia.qedu.org.br/censo-escolar/notas-tecnicas/
      </a>
    </p>
  </div>
{% endblock %}

{% block stylesheets %}
  <link type="text/css" href="/gimme/d3e1a7d09b/pkg/css/provabrasil.css" rel="stylesheet">
  <link type="text/css" href="/gimme/cfdcda464f/pkg/css/provabrasil/dropdown-select2.css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="/gimme/ddfef5b5e4/pkg/js/mcc-boot.js"></script>
  <script type="text/javascript" src="/gimme/2a854d73fb/pkg/js/QEdu/Header.js"></script>
  <script type="text/javascript" src="/gimme/f46964a241/pkg/js/select2-lib.js"></script>
  <script type="text/javascript" src="/gimme/85d63f33ed/pkg/js/provabrasil/dropdown-select2.js"></script>
  <script type="text/javascript" src="/gimme/03e82aef14/pkg/js/mcc-basic-libs.js"></script>
  <script type="text/javascript" src="/gimme/08f65bba69/js/provabrasil/censo/view-item.js"></script>
  <script type="text/javascript" src="/gimme/9babdd66de/js/provabrasil/censo/model-item.js"></script>
  <script type="text/javascript" src="/gimme/bd09500298/js/provabrasil/censo/model-raw_data_censo.js"></script>
  <script type="text/javascript" src="/gimme/fd5e5451f7/js/provabrasil/censo/view-buttons_filter_censo.js"></script>
  <script type="text/javascript" src="/gimme/d9d89cd771/js/provabrasil/censo/behavior-filter.js"></script>
  <script type="text/javascript" src="/gimme/e2921f29b8/pkg/js/jquery.libs.js"></script>
  <script type="text/javascript">
    mcc.init_behaviors({
        "Meritt\/QEdu\/UI\/Header\/Assets\/js\/GlobalSearchBehavior": [{"urlToAppend": ""}],

        "behavior-dropdown-select2":[

            {% for item in breadcrumb if item['type'] != 'country' %}
              {
                  "fetch_from": "{{ item['ajax_dropdown_url'] }}",
                  "formatSearchingText": "{{ item['search_text'] }}",
                  "placeholder_input": "{{ item['placeholder'] }}",
                  "formatNoMatches": "Nenhum resultado para \"%s\".",
                  "extra_dropdown_classes": " select2-breadcrumb-box",
                  "idElement": "{{ item['element_id'] }}"

                {% if item['type'] == 'school' %}
                  ,"message_bottom": 'Listando escolas p\u00fablicas participantes da Prova Brasil<br/><a href="javascript:void(0)" class="select2-redirect" data-url="{{ item['message_bottom_url'] }}">Veja a lista completa de escolas (incluindo particulares) na busca guiada</a>'
                {% endif %}
              },
            {% endfor %}

        ],
        "provabrasil-behavior-censo-filter":[{
            "filter_id":"ujeid_6",
            "results":[],
            "defaultIndex":"index-0-0-1-0",
            "availableFilters":["year"],
            "defaultFields":{
                "dependence":0,
                "localization":0,
                "education_stage":0
            }
        }]
    });
  </script>
{% endblock %}
