<section class="subnav-section gray-pattern">

  <div class="container with-avatar-small">

    <div class="subnav-title">
      <ul class="subnav-breadcrumb">

        {% for item in breadcrumb %}
          <li>
            <a href="{{ item['url'] }}">{{ item['name'] }}</a>
            <input type="hidden" id="{{ item['element_id'] }}" />
          </li>
        {% endfor %}

      </ul>
    </div>
    <div class="clearfix"></div>

    <div class="block-image thumbnail avatar-block-small ">
      <a href="#" rel="tooltip" title="" class="avatar-container" data-original-title="">
        <img src="/img/provabrasil/avatar/school-128px.png">-
      </a>
    </div>

    <div class="subnav-title">
      <h1>{{ school|schoolNameFilter }}</h1>
    </div>

    <div class="action-buttons social-section">
      <div class="addthis_sharing_toolbox"></div>
    </div>
  </div>

  <div class="subnav with-avatar-small-margin">
    <ul class="nav nav-pills">
      {% for item in menu %}
        <li class="{{ item['isActive'] ? 'active' : '' }}">
          <a href="{{ item['url'] }}"><i class="{{ item['icon'] }}"></i>{{ item['name'] }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="subnav-detail-section subnav-detail-section-menu">
  <div class="container">
    <div class="subnav-detail clearfix with-avatar-small-margin">
      <ul class="nav nav-pills">
        <li class="active"><a href="/escola/{{ school.getId() }}-{{ school.getSlug() }}/censo-escolar">Matrículas e Infraestrutura</a></li>
        <li class=""><a href="/escola/{{ school.getId() }}-{{ school.getSlug() }}/taxas-rendimento">Taxas de Rendimento</a></li>
        <li class=""><a href="/escola/{{ school.getId() }}-{{ school.getSlug() }}/distorcao-idade-serie">Distorção Idade-Série</a></li>
      </ul>
    </div>
  </div>
</section>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-542c488254cb45ee" async></script>
