{% set infrastructure = censusData.getBuildingCharacteristic() %}

<div class="group-educacenso">
  <h3>Infraestrutura (dependências)</h3>
  <table class="table table-striped">
    <tbody>
    <tr>
      <th>Existe sanitário dentro do prédio da escola?</th>
      <td>{{ infrastructure.hasToiletInside()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>Existe sanitário fora do prédio da escola?</th>
      <td>{{ infrastructure.hasToiletOutside()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui biblioteca?</th>
      <td>{{ infrastructure.hasLibrary()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui cozinha?</th>
      <td>{{ infrastructure.hasKitchen()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui laboratório de informática?</th>
      <td>{{ infrastructure.hasComputerLab()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui laboratório de ciências?</th>
      <td>{{ infrastructure.hasScienceLab()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui sala de leitura?</th>
      <td>{{ infrastructure.hasReadingRoom()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui quadra de esportes?</th>
      <td>{{ infrastructure.hasSportsCourt()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui sala para a diretoria?</th>
      <td>{{ infrastructure.hasBoardRoom()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui sala para os professores?</th>
      <td>{{ infrastructure.hasTeachersRoom()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    <tr>
      <th>A escola possui sala de atendimento especial?</th>
      <td>{{ infrastructure.hasRoomServiceSpecial()|convertBooleanToYesNoFilter|raw }}</td>
    </tr>
    </tbody>
  </table>
</div>
