<h1>{{ school.getName() }}</h1>

<div>
  {% for learning in schoolLearning  %}

    {% set gradeId = learning.getGradeId() %}
    {% set disciplineId = learning.getDisciplineId() %}

    <div class="didactic-learning-block proficiency-{{ gradeId }}-{{ disciplineId }} ">

      {% set isPortuguese = disciplineId == '1' %}

      {% set discipline = isPortuguese ? 'Português' : 'Matemática' %}

      <h3>{{ discipline }}, {{ gradeId }}º ano</h3>

      <div>
        <span>
          <span class="percent-level">{{ learning.getPercentage() }}</span>%
        </span>
      </div>

      <p class="description">
        É a proporção de alunos que aprenderam o adequado na competência de
        <span class="competence">
              {% if isPortuguese %}
                leitura e interpretação de textos
              {% else %}
                resolução de problemas
              {% endif %}
            </span> até o <span class="grade">{{ gradeId }}º ano</span>
        na rede <span class="dependence">pública</span> de ensino.
      </p>

      <small class="no-partial ">
        Dos <span class="present_count">{{ learning.getTotalStudents() | number_format(0, ',', '.') }}</span> alunos,
        <span class="optimal_count">{{ learning.getTotalSuccessfulStudents() | number_format(0, ',', '.') }}</span>
        demonstraram o aprendizado adequado.
      </small>
    </div>
  {% endfor %}
</div>
