{% extends 'base.html.twig' %}

{% set title = 'Escola - ' ~ school|schoolNameFilter ~ ' - ' ~ school.getCity().getName() ~ ' - ' ~ school.getState().getAcronym() ~ ' - ' ~ 'Enem - QEdu' %}
{% set breadcrumb = header.getBreadcrumb() %}
{% set menu = header.getMenu() %}
{% set filter = content.getFilter() %}
{% set schoolRecord = content.getEnemSchoolRecord() %}
{% set schoolParticipation = schoolRecord.getEnemSchoolParticipation() %}

{% block stylesheets %}
  <link type="text/css" href="/gimme/1cb1adaa50/pkg/css/provabrasil.css" rel="stylesheet" />
  <link type="text/css" href="/gimme/e9dff85299/pkg/css/provabrasil/dropdown-select2.css" rel="stylesheet" />
  <link type="text/css" href="/gimme/ea3598cd92/pkg/css/provabrasil/enem.css" rel="stylesheet" />
{% endblock %}

{% block body %}
  {% include 'subnav.html.twig' %}

  <section class="container enem">
    <header>
      <h2>Escola {{ school|schoolNameFilter }} - {{ school.getCity().getName() }} - {{ school.getState().getAcronym() }} - Enem {{ filter.getCurrentYear() }}</h2>
      <p>Veja a média da escola nas áreas do conhecimento avaliadas pelo Enem {{ filter.getCurrentYear() }}</p>
    </header>

    {% include 'enem/filter.html.twig' %}

    {% if schoolParticipation is null %}

      <p class="data-notification">Não há resultado do Enem para esta escola neste ano.</p>

    {% else %}

      {% set schoolParticipationRate = schoolParticipation.getParticipationRate() * 100 %}
      {% set schoolResults = schoolRecord.getEnemSchoolResults() %}

      {% include 'enem/school/participation_rate.html.twig' %}
      {% include 'enem/school/results/human_sciences.html.twig' %}
      {% include 'enem/school/results/natural_sciences.html.twig' %}
      {% include 'enem/school/results/languages_and_codes.html.twig' %}
      {% include 'enem/school/results/mathematics.html.twig' %}
      {% include 'enem/school/results/essay.html.twig' %}

    {% endif %}

  </section>

  {% include 'enem/more_info.html.twig' %}

  <script type="text/html" id="tmp-compare-note">
    <p class="compare-note">Os dados desta escola não são representativos.<a target="_blank" href="/ajuda/artigo/446100">Saiba mais</a>.</p>
  </script>

  <script type="text/html" id="tmp-compare-sign">
    <span class="compare-sign">*</span>
  </script>

{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="/gimme/ddfef5b5e4/pkg/js/mcc-boot.js"></script>
  <script type="text/javascript" src="/gimme/2a854d73fb/pkg/js/QEdu/Header.js"></script>
  <script type="text/javascript" src="/gimme/f46964a241/pkg/js/select2-lib.js"></script>
  <script type="text/javascript" src="/gimme/85d63f33ed/pkg/js/provabrasil/dropdown-select2.js"></script>
  <script type="text/javascript" src="/gimme/200fd91df6/pkg/js/provabrasil.js"></script>
  <script type="text/javascript" src="/gimme/e2a780a5ad/pkg/js/mcc-basic-libs.js"></script>
  <script type="text/javascript" src="/gimme/49300c6ac5/pkg/js/QEdu/Enem.js"></script>
  <script type="text/javascript" src="/gimme/bafe60b3da/pkg/js/jquery.libs.js"></script>
  <script type="text/javascript">
    mcc.init_behaviors({
        "Meritt\/QEdu\/UI\/Header\/Assets\/js\/GlobalSearchBehavior": [{"urlToAppend": ""}],
        "Meritt\/QEdu\/UI\/EnemBase\/Assets\/js\/Filters": [
            []
        ],
        "Meritt\/QEdu\/UI\/EnemBase\/Assets\/js\/Base": [{
            "baseUrl": "\/escola\/{{ school.getId() }}-{{ school.getSlug() }}\/enem-dev",
            "edition": {{ filter.getCurrentYear() }},
            "educationNetworkTypeId": null
        }],

        "Meritt\/QEdu\/UI\/Enem\/Assets\/js\/Compare": [{
            "canBeCompared": {{ schoolParticipation and schoolRecord.isRepresentative() ? 'true' : 'false' }}
        }],

        {% include 'breadcrumb.html.twig' %}
    })
  </script>
{% endblock %}
